# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# General
.DS_Store
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/
coverage/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Expo / React Native
.expo/
web-build/
*.jks
*.keystore
*.pem
android/app/build/
android/app/release/
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/Podfile.lock

# OS
Thumbs.db
